
.add_form{
    display: flex;
    flex-direction: column;
}

.add_form .text_form{
    padding: 1rem;
    font-size: 1rem;
    margin: 0;
    border-radius: 0px;
    border: 1px solid rgba(0, 0, 0, 0.062);

}

.add_form .description{
    border-top: 0px;
    padding-bottom: 5rem;
}

.input-group
{
    position: relative;
}
.input
{
    padding: 1.5rem;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #0000002f;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    border-radius: 0;
    resize: none;

}
.placeholder
{
    position: absolute;
    top: 25px;
    left: 8px;
    font-size: 1rem;
    padding-left: 10px;
    color: #818181;
    transition: 0.1s ease-out;
    pointer-events: none;
    font-family: 'Lato', sans-serif;
    margin: 0px;
}
.input:focus + .placeholder, .input:not(:placeholder-shown) + .placeholder
{
    top: 1px;
    padding-top: 5px;
    padding-bottom: 2px;
    color: #818181;
    background-color: #fff;
    font-size: 0.8rem;
    width: 100%;
    margin: 0px;
}

.input-container{
    background-color: rgb(255, 255, 255);
    border: 1px solid #0000002f;
    padding: 1rem;
    display: flex;
    justify-content:space-between;
}

.input-container .icon, .tags-container .icon{
    font-size: 1.5rem;
    width: 2rem;
    padding-inline: 0.5rem;
    color: #3a3a3a;
}

.input-container .label, .tags-container .label{
    font-family: 'Lato' , sans-serif;
    padding-inline: 0.5rem;
}

.datepicker{
    width: 4rem;
    text-align: center;
}

.rank-container{
    background-color: rgb(255, 255, 255);
    border: 1px solid #0000002f;
    padding: 1rem;
}

.input-container select, .input-container select:focus, .input-container input{
    color: #3a3a3a;
    outline: #3a3a3a;
}

.tags-container{
    background-color: rgb(255, 255, 255);
    border: 1px solid #0000002f;
    padding: 1rem;
}
.tags-container .lineOne{
    display: flex;
    justify-content:space-between;
}
.lineOne button{
    background-color:transparent;
    border: none;
    padding: 0;
}
.lineTwo{
    display: flex;
    flex-wrap: wrap;
}
.tag{
    background-color: #f0f0f0;
    border-radius: 10%;
    padding: 0.5rem;
    margin: 0.2rem;
    font-family: 'Lato';
}
.tag:active{
    background-color: #ffb656;
}
input, textarea{
    caret-color:#ffb656;
}





