.empty-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;

    opacity: 0.7;
    text-align: center;
    padding-inline: 1rem;
}

.empty-container img{
    width: 5rem;
}

.empty-container h1{
    padding:1rem;
    margin:0;
}

.empty-container a{
    color: black;
}

.cookie-grouper{
    margin: 1rem;
    margin-top: 2rem;
    margin-bottom: 8rem;
}
.cookie-container{
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 1rem;
    border-radius: 10px;
    overflow: hidden;
    justify-content: space-between;
    max-width: 40rem;
    margin-inline: auto;
}
.img-tag-date-container{
    display: flex;
    min-width: 8rem;
    max-width: 8rem;
    flex-direction: column;
    margin-left: 0.2rem;
    margin-top:0.2rem;
}
.img-tag-date-container img{
    position: relative;
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 5px;

}
.cookie-info{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-grow: 1;
    margin-right: 20px;
}
.cookie-info h1{
    font-size: 1.2rem;
}
.cookie-info p{
    font-size: 1rem;
}
.tag-date-container{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    flex-wrap: wrap;
    padding: 0.4rem;
}
.tag-date-container .tag{
    border-radius: 5px;
    padding: 0.3rem;
    flex-grow: 1;
    text-align: center;
}
.tag-date-container .date{
    background-color: hsla(0, 0%, 100%, 0.534);
    border-radius: 5px;
    padding: 0.3rem;
    flex-grow: 1;
    text-align: center;
}
.cookie-side-rank{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 20px;
    box-shadow: inset 1px 0px 10px #00000013;
}

.cookie-side-rank-expanded{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 100px;
    box-shadow: inset 1px 0px 10px #00000013;
    display: flex;
    flex-direction: column;
    animation: sideReveal 0.3s ease-out;
}

.cookie-side-rank.hide{
    animation: sideHide 0.2s ease-out
}

.cookie-side-rank-expanded .icon{
    color: rgba(0, 0, 0, 0.589);
    opacity: 0.8;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: textReveal 0.3s ease-out;
}

.cookie-side-rank-expanded .icon:active{
    background-color: rgba(0, 0, 0, 0.199);
}
.cookie-side-rank-expanded .hr{
    height: 1px;
    background-color: rgb(0, 0, 0);
    opacity: 0.2;
}

/* Animation keyframes */

@keyframes sideReveal {
    0%{
        min-width: 20px;
    }
    100%{
        min-width: 100px;
    }
}
@keyframes textReveal {
    0%{
        font-size: 0rem;
    }
    100%{
        font-size: 2rem;
    }
}

@keyframes sideHide {
    0%{
        min-width: 100px;
    }
    100%{
        min-width: 20px;
    }
}





